body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-container {
    background-color: #f1f1f1;
    padding: 0px;
    text-align: center;
}

div.header, 
div.options {
    padding: 10px 16px;
    background: #0000ff;
    color: #f1f1f1;
}

div.options {
    background: #c00;
}

.content {
    padding: 16px;
}

.sticky,
.opSticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content, 
.opSticky+.content {
    padding-top: 102px;
}

.opSticky+.content {
    padding-top: 200px;
}